.contenedor {
    border: solid 1px #CCC;
    width: 100%;
    max-Width: 500px;
    margin: 0px auto;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    min-height: 100vh;
    box-shadow: 0px 0px 10px #CCC;
    color: #555;
    font-family: Arial;
}

.titulo {
    font-size: 50px;
    margin-bottom: 20px;
}

.logo{
    width: 200px;
    height: 200px;
}
.caja-correo, .caja-password {
    font-size: 30px;
    width: 100%;
    border: none;
    border-bottom: solid 1px green;
    outline: none;
    margin-top: 10px;
}

input::placeholder{
    color: #CCC;
}

.agrupador-correo, .agrupador-password{
    margin-top: 20px;
    text-align: left;
}

.agrupador-boton{
    margin-top: 30px;
}

.boton-ingresar{
    font-size: 30px;
    background-color: green;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.otros-botones{
    margin-top: 50px;
    text-align: center;
}

.link-registro, .link-password{
    color: #999;
    display: block;
}
